{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="row">
     <!-- Administrer -->
        <div class="frame">
            <div class="initial">
                <div class="frame-title">
                    <h1>{{ 'Administrer'|trans }}</h1>
                </div>
                <div class="frame-body">
                    <p>{{ "Administrer les réseaux et l\'internet"|trans }}</p>
                    <ul>
                        <li>
                            {{ "Assister l'administrateur du réseau"|trans }}
                        </li>
                        <li>
                            {{ "Administrer un réseau"|trans }}
                        </li>
                        <li>
                            {{ "Concevoir un réseau"|trans }}
                        </li>
                    </ul>
                </div>
            </div>
 <div class="container">
    <div class="row">
     <!-- Connecter -->
        <div class="frame">
            <div class="initial">
                <div class="frame-title">
                    <h1>{{ 'Connecter'|trans }}</h1>
                </div>
                <div class="frame-body">
                    <p>{{ "Connecter les entreprises et les usagers"|trans }}</p>
                    <ul>
                        <li>
                     {{ "Découvrir les transmissions et la ToIP"|trans }}
                        </li>
                        <li>
                            {{ "Maîtriser les différentes composantes des solutions de connexion des entreprises et des usagers"|trans }}
                        </li>
                        <li>
                            {{ "Déployer une solution de connxeion ou de communication sur IP"|trans }}
                        </li>
                    </ul>
                </div>
            </div>
 <div class="container">
    <div class="row">
<!-- Creer -->
        <div class="frame">
            <div class="initial">
                <div class="frame-title">
                    <h1>{{ 'Creer'|trans }}</h1>
                </div>
                <div class="frame-body">
                    <p>{{ "Creer des outils et applications informatiques pour les R&T"|trans }}</p>
                    <ul>
                        <li>
                            {{ "S'intégrer dans un service in formatique"|trans }}
                        </li>
                        <li>
                            {{ "Développer une application R&T"|trans }}
                        </li>
                        <li>
                            {{ "Piloter un projet de développement d'une application R&T"|trans }}
                        </li>
                    </ul>
                </div>
            </div>
        
 {% endblock %}